.password-field {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.password-field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}

.complexBar {
    height: 10px;

}

.complexity {
    height: 100%;
}